<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Poster</title>

		<link rel="stylesheet" type="text/css" href="/static/fonts.css">
		<style type="text/css">
			main {
				margin: 32px auto;
				max-width: 650px;
				font-family: Roboto, sans-serif;
				font-size: 16px;
			}

			h1 {
				font-family: inherit;
				font-size: 2em;
				font-weight: normal;
			}

			h2 a {
				color: inherit;
				font-weight: normal;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Статья отправлена на конкурс</h1>

			<p>
				Спасибо! Ваше участие очень важно для нас. Мы прочитаем вашу статью в ближайшее время.
			</p>

			<p>
				Информация о победителе будет опубликована на сайте Poster не менее, чем через 13 (тридцать) рабочих дней.
			</p>
		</main>
	</body>
</html>
