<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>File uploaded | {{ service_name }}</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head>
	<body>
		<nav>
			<a href="../">Back to pic list</a>
		</nav>
		<h1>File uploaded</h1>
		<p>
			You can now access the file <code>{{ file_name }}</code> <a href="../view/{{ id }}/">here</a>. The password is <code>{{ password }}</code>, don't lose it.
		</p>
	</body>
</html>
