<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>What is a cat! | {{ service_name }}</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head>
	<body>
		<nav>
			<a href="../">Back to pic list</a>
		</nav>
		<h1>What is a cat?</h1>
		<p>
			Cats, also called domestic cats (Felis catus), are small, carnivorous (meat eating) mammals, of the family Felidae.[3][4][5] Cats have been domesticated (tamed) for nearly ten thousand years.[6]
		</p>
		<p>
			Example of a cat (please upload):
		</p>
		<img src="/static/cat.jpg">
		<p>
			Example of not a cat (please don't upload):
		</p>
		<img src="/static/notcat.jpg">
	</body>
</html>
