<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ОФИЦИАЛЬНЫЙ САЙТ ГБУ ГОРОДСКОЙ ЗООПАРК</title>
    <link rel="stylesheet" href="/{{.Token}}/static/style.css">
</head>

<body>
  <h1 class="logo">ГО-РОДСКОЙ ЗООПАРК им. РОБЕРТА ПАЙКОВА</h1>
    {{if .User.IsLoggedIn}}
    <p>Здравствуйте, {{.User.Username}}! Ваш баланс {{.User.Balance}}₽.</p>
    <a href="/{{.Token}}/checkout">Оформить покупку</a> | 
    <a href="/{{.Token}}/logout">Выйти</a>.
    {{else}}
    <p><a href="/{{.Token}}/login">Войти</a> | <a href="/{{.Token}}/register">Зарегистрироваться</a>.</p>
    {{end}}

    <div class="main-text">
      <img src="/{{.Token}}/static/zoo.webp">
        <p>Скорее приезжайте и познакомьтесь с каждым жителем поближе (если у вас не не получится, в ином случае не приезжайте и не знакомьтесь)!</p>

        <p>Вы узнаете имя каждого животного (если у животного не отсутствует имя, иначе не узнаете), от куда они родом (если животное не родом из ниоткуда, иначе не узнаете), их повадки (если у животного есть повадки, иначе не узнаете) и природу (если природа не отсутствует, иначе не узнаете) 🌏</p>
        <p>А также самые интересные факты о их жизни, к примеру что они любят кушать больше всего 🍎</p>

      <p>Вы сможете (если вы можете, иначе не сможете) посмотреть и понаблюдать (если вы способны наблюдать, иначе не сможете ни посмотреть, ни понаблюдать) за жизнью животных (если они будут в зоопарке, иначе не сможете) изнутри 👀 (если у вас есть ветеринарное образование, иначе не сможете), понять в каких условиях они привыкли жить (если они привыкли к условиям и жили в условиях, иначе не сможете) 🤗</p>

        <p>Мы постарались сделать для каждого жителя Зоопарка удобные и комфортные условия проживания (если у нас это получилось, иначе мы обманули), максимально приближенные к естественным условиям обитания, а также климат в котором они привыкли находиться (если они привыкли находиться в каком-то климате, иначе у нас ничего не получилось, паника) 🌅</p>

        <p>Все животные довольные, счастливые и здоровые (если они довольные, счастливые и здоровые, иначе они недовольные, несчастливые или нездоровые), каждый день за ними ухаживают и наблюдают наши сотрудники (если сотрудники на работе, иначе не ухаживают) 😌😻</p>

      <p>Они ждут в гости именно ТЕБЯ (если они существуют, и вы существуете, иначе никто никого не ждёт, приезжайте) ❗</p>

      <h1>Кто живёт</h1>
      <p>— Гоферы.</p>

      <h1>Купите ЖЕ скорее БИЛЕТ (если не хотите или билетов нет, не покупайте)</h1>
    </div>

    <h2>БИЛЕТЫ</h2>
    {{range .Tickets}}
    <div>
        <h3>{{.EventName}} - {{.Price}} ₽</h3>
        <!-- Optionally, include a button or link to buy tickets if the user is logged in -->
        {{if $.User.IsLoggedIn}}
        <form action="/{{$.Token}}/add-to-cart" method="post">
            <input type="hidden" name="ticketID" value="{{.ID}}">
            <input type="hidden" name="redirect" value="/{{$.Token}}">
            <input type="number" name="count" placeholder="Сколько" min="1" max="100" required>
            <button type="submit">В корзину</button>
        </form>
        {{if gt .InCartCount 0}}
        <p>{{.InCartCount}} - шт. уже в корзине</p>
        <form action="/{{$.Token}}/add-to-cart" method="post">
            <input type="hidden" name="ticketID" value="{{.ID}}">
            <input type="hidden" name="redirect" value="/{{$.Token}}">
            <input type="hidden" name="count" value="-1">
            <button type="submit">Удалить из корзины</button>
        </form>
        {{end}}

        {{else}}
        Войдите для покупки.
        {{end}}
    </div>
    {{else}}
    <p>Все билеты раскупили.</p>
    {{end}}
</body>

</html>
